.list-item {
  margin-bottom: 0.2rem;
  transition: color 0.3s ease;
}

.list-item a:hover {
  color: #FFDE59;
}

.icon-fixed-size {
  font-size: 1rem;
  min-width: 1.5rem;
  height: 1rem;
  display: inline-block;
}

